<li class="menu-item {% if node.is_active %}active{% endif %} {% if node.children %}has-children{% endif %} {% if node.is_expanded %}expanded{% endif %}">
    <a href="{{ node.item.get_url }}" class="menu-link">
        <span class="menu-title">{{ node.item.title }}</span>
        {% if node.children %}
            <i class="menu-toggle fas fa-chevron-down"></i>
        {% endif %}
    </a>
    
    {% if node.children %}
        <ul class="submenu">
            {% for child_node in node.children %}
                {% include "tree_menu/menu_item.html" with node=child_node %}
            {% endfor %}
        </ul>
    {% endif %}
</li> 